header {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
  position: fixed;
  width: 200px;
}

.header-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  color: #444955;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 16px;
  text-decoration: none;
  text-transform: capitalize;
}
