header {
  width: 200px;
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.header-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #444955;
  text-decoration: none;
}
