@keyframes spinner {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  padding-top: 5%;
}

.loading-spinner {
  animation: spinner 1.5s linear infinite;
  border: 10px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  border-top: 10px solid #383636; /* Black */
  height: 50px;
  margin: auto;
  width: 50px;
}
